@import '../fonts/font.css';


/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /**
   * colors
   */

  --raisin-black-2: hsl(245, 16%, 16%);
  --raisin-black-1: hsl(244, 17%, 19%);
  --majorelle-blue: hsl(245, 67%, 59%);
  --aquamarine-blue:hsl(187deg 100% 82%);
  --ghost-white-1: hsl(240, 100%, 99%);
  --ghost-white-2: hsl(228, 50%, 96%);
  --white-opacity: hsla(0, 0%, 100%, 0.5);
  --independence: hsl(245, 17%, 27%);
  --lavender-web: hsl(247, 69%, 95%);
  --eerie-black: hsl(210, 11%, 15%);
  --cool-gray: hsl(244, 17%, 61%);
  --sapphire: hsl(211, 100%, 35%);
  --white: hsl(0, 0%, 100%);

  /**
   * typography
   */

  --IRANYekanMedium: "IRANYekanMedium", sans-serif;

  --fs-1: 36px;
  --fs-2: 28px;
  --fs-3: 20px;
  --fs-4: 17px;
  --fs-5: 16px;
  --fs-6: 15px;
  --fs-7: 14px;

  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  /**
   * transition
   */

  --transition: 0.25s ease;

  /**
   * spacing
   */

  --section-padding: 80px;

}





/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a { text-decoration: none; }

a,
img,
span,
input,
label,
button,
ion-icon,
textarea { display: block; }

button {
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
}

input,
textarea {
  border: none;
  font: inherit;
  width: 100%;
}

html {
  font-family: var(--IRANYekanMedium);
  scroll-behavior: smooth;
}

body { background: var(--white);direction: rtl; }





/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container { padding-inline: 15px;}

.h1,
.h2,
.h3 {
  color: var(--ghost-white-1);
  font-family: var(--IRANYekanMedium);
  line-height: 1.2;
}

.h1 { font-size: var(--fs-1); }

.h2 { font-size: var(--fs-2); }

.h3 { font-size: var(--fs-3); }

.btn {
  font-size: var(--fs-6);
  font-weight: var(--fw-700);
  padding: 15px 30px;
  border-radius: 4px;
  transition: var(--transition);
}

.btn:is(:hover, :focus) { transform: translateY(-2px); }

.btn-white {
  background: var(--ghost-white-1);
  color: var(--raisin-black-2);
}

.btn-white:is(:hover, :focus) {
  box-shadow: 0 3px 10px rgba(0,68,88,1);
}

.btn-outline { 
  border: 1px solid var(--majorelle-blue);
  color: var(--majorelle-blue);
}

.btn-outline:is(:hover, :focus) {
  background: var(--majorelle-blue);
  color: var(--white);
  box-shadow: 0 3px 10px hsla(245, 67%, 59%, 0.5);
}

.btn-secondary {
  background: rgba(0,68,88,1);
  color: var(--ghost-white-1);
}

.section-title { text-align: center; }

.section-text {
  color: var(--cool-gray);
  font-size: var(--fs-6);
  line-height: 1.7;
  text-align: center;
}





/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* padding-block: 20px; */
  box-shadow: 0 1px 4px hsl(186deg 50% 16%);
  height: 65px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  z-index: 4;
}

.header.active { height: 330px;background-color: rgba(13 ,94 ,90,.98); }

.header.scroll-header{
  background-color: rgba(13 ,94 ,90,.98);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-toggle-btn { font-size: 25px; }

.navbar {
  position: absolute;
  width: 100%;
  top: 64px;
  left: 0;
  padding-inline: 30px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.header.active .navbar {
  visibility: visible;
  opacity: 1;
}

.navbar-link,
.header-action-link {
  color: var(--ghost-white-2);
  font-size: var(--fs-6);
  font-family: var(--IRANYekanMedium);
  padding-block: 8px;
}


.header-action-link.register{
  background-color: rgba(0,68,88,.7);
  padding: 1rem 2rem;
  border-radius: 5px;
}

:is(.navbar-link, .header-action-link):is(:hover, :focus) { color: var(--aquamarine-blue); }

.header .logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header .logo span{
  margin-right: 10px;
  color: var(--ghost-white-2);
}


/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero {
  padding: 125px 0 var(--section-padding);
  position: relative; 
  /* background: var(--ghost-white-1); */
  background-image:linear-gradient( rgb(8 131 104 / .5), rgb(8 131 104 / .5)),
  url('../images/brooke-cagle-g1Kr4Ozfoac-unspl.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* height: 100vh; */
}

.hero .container{
  margin-bottom: 3rem;
}

.hero-content { 
  margin-top: 100px;
  position: relative; 
  display: flex;
  flex-direction: column;
}

.hero-title { margin-bottom: 25px; }

.hero-text {
  color: var(--ghost-white-2);
  font-size: var(--fs-4);
  font-weight: var(--fw-500);
  line-height: 1.8;
  margin-bottom: 40px;
}

.search-bar-container{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.search-bar-container img,
.search-bar-container input{
  background: rgba(13 ,94 ,90,.7);
  padding: 1rem;
  outline: none;
  color: var(--ghost-white-2);
}
.search-bar-container img{
  padding-right: 4rem;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--ghost-white-2);
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--ghost-white-2);
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--ghost-white-2);
}


.hero .btn-white { margin-inline: auto; }

.hero-banner img { width: 100%; }



/*-----------------------------------*\
  #FEATURES
\*-----------------------------------*/

.features {
  background: var(--ghost-white-1);
  background-image: url("../images/neonbrand-zFSo6bnZJTw-unsplash.png");
  position: relative;  
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}


.features-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.features-wrapper .card{
  display: flex;
  flex-grow: 1;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--ghost-white-1);
  background-image: linear-gradient( rgb(0 0 0 / 50%), rgb(24 22 22 / 50%));
  padding: .3rem;
}

.features-wrapper .card p{
  text-align: center;
  padding: 1rem;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

/*-----------------------------------*\
#courses
\*-----------------------------------*/
.courses-wrapper{
  display: flex;
  padding: 7rem 4rem;
  align-items: end;
  flex-direction: column;
}

.course-info{
  flex-basis: 40%;
  color:rgba(126,126,126,1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  height: 300px;
}

.course-info button{
  width: 50%;
}
.courses .course-info h1,
.article .article-info h1{
  margin-bottom: 2rem;
  color: rgba(0,68,88,1);
  font-size: var(--fs-2);
}

.courses .course-text p,
.article .article-text p{
  font-size: var(--fs-3);
}

.about-list {
  display: grid;
  gap: 20px;
  flex-basis: 60%;
  position: relative;
  margin: 0 auto;
  width: 70vw;
}

ul.about-list li{
  padding: 0 1rem;
}

.about-card {
  max-width: calc(100% - 30px);
  padding: 20px;
  text-align: center;
  box-shadow: 0 3px 12px hsla(233, 77%, 10%, 0.06);
  border-radius: 4px;
  transition: var(--transition);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.about-card .card-title {
  margin-bottom: 10px;
  transition: var(--transition);
}


.about-card .card-text {
  background: var(--ghost-white-1);
  padding: 1rem;
  font-size: var(--fs-6);
  font-weight: var(--fw-500);
  line-height: 1.8;
  transition: var(--transition);
}

.green-border{
  display: none;
  position: absolute;
  width: 480px;
  height: 480px;
  border: 3px solid #09b28b;
  z-index: -1;
}

.courses-wrapper .js{
  background: rgba(247,223,30,1);
  width: 100%;
}
.courses-wrapper .js h3{
  color: var(--raisin-black-1);
  font-size: 6.5rem;
}

.courses-wrapper .c-sharp{
  background: rgba(106,21,119,1);
  width: 100%;
}
.courses-wrapper .c-sharp h3{
  color: var(--ghost-white-2);
  font-size: 4rem;
}

.courses-wrapper .bootstrap{
  background: rgba(202,178,239,1);
  width: 100%;
}
.courses-wrapper .bootstrap h3{
  color: rgba(124,61,114,1);
  font-size: 2rem;
}

.courses-wrapper .java{
  background: rgba(255,199,248,1);
  width: 100%;
}
.courses-wrapper .java h3{
  color: rgba(237,30,36,1);
  font-size: 4rem;
}


/*-----------------------------------*\
  #Services
\*-----------------------------------*/


.services .consultation-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0,68,88,1);
}

.services .consultation-wrapper .consultation-text{
  padding: 4rem;
}
.services  h1{
  color: var(--ghost-white-1);
  font-size: var(--fs-2);
}
.services p{
  color: var(--ghost-white-2);
  font-size: var(--fs-3);
}

.services .consultation-img{
  position: relative;
  background-image: linear-gradient(rgb(8 131 104 / .5) 0%,rgb(8 131 104 / .5) 100%),
  url("../images/business-people-with-finance-c.png");
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-clip-path: polygon(0 0, 40% 0, 50% 100%, 0% 100%);
  clip-path: polygon(0 0, 40% 0, 50% 100%, 0% 100%);
}


.services .consultation-img .btn {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


.services .degree-wrapper{
  display: flex;
  justify-content: space-between;
  background: linear-gradient(90deg, #004458, #09b28b);
  min-height: 170px;
}

.services .degree-img img,
.services .cooperation-img img{
  width: 0;
}

.services .degree-text,
.services .cooperation-text{
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.services .cooperation-wrapper{
  display: flex;
  justify-content: space-between;
  background-color: #004458;
}

.services .cooperation-img{
  display: flex;
  justify-content: end;
}


.services .cooperation-text{
  padding: 4rem;
}



/*-----------------------------------*\
  #ÙŽArticle
\*-----------------------------------*/

.article .article-wrapper{
  display: flex;
  padding: 4rem;
  flex-direction: column;
}

.article .article-text{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: baseline;
  padding: 4rem;
}
.article .article-text button{
  width: 50%;
}

.article .article-img{
   position: relative;
   width: 90%;
}

.article .article-img img{
  width: 100%;
}

.article .article-img .bg-gradiant{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20%;
  background: rgba(13 ,94 ,90,.7);
  text-align: center;
  padding: 1rem;
  color: var(--ghost-white-1);
}


/*-----------------------------------*\
  #CONTACT
\*-----------------------------------*/

.contact {
  /* padding-block: var(--section-padding); */
  background: var(--ghost-white-1);
}

.contact .contact-wrapper{
  padding: 1rem;
  background-color: #088568;
}

.contact .contact-wrapper .contact-img img{
  width: 0;
}

.contact .section-title { margin-bottom: 15px; }

.contact .section-text { margin-bottom: 60px; }

.contact-form { margin-bottom: 50px; }

.input-wrapper { margin-bottom: 20px; }


.contact-form .wrapper-flex{
  flex-direction: column;
}

.contact-form .wrapper-flex h1{
  color: var(--ghost-white-1);
  font-size: var(--fs-2);
}

.contact label {
  color: var(--independence);
  font-weight: var(--fw-500);
  margin-bottom: 10px;
}

.contact .input-field {
  background: transparent;
  color: #0cdbab;
  font-size: var(--fs-7);
  padding: 10px 15px;
  border: 1px solid hsla(244, 17%, 67%, 0.3);
  border-radius: 4px;
}

.contact .input-field:focus {
  outline: none;
  background: var(--ghost-white-2);
}

.contact .input-field::placeholder { color: var(--cool-gray); }

textarea.input-field {
  margin-bottom: 20px;
  resize: vertical;
  min-height: 50px;
  height: 100px;
  max-height: 200px;
}

.contact .btn-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.contact .btn-secondary ion-icon { --ionicon-stroke-width: 40px; }




/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

footer {
  background: #004458;
  color: var(--ghost-white-1);
  font-weight: var(--fw-500);
}

.footer-top { padding-block: var(--section-padding); }

.footer-brand { 
  margin-bottom: 60px; 
  display: flex;
  gap: 2rem;
}
hr{
  width: 100%;
  border: 1px solid #787878;
}

.footer-brand .footer-brand-text,
.footer-brand .footer-input{
  flex-basis: 50%;
}

.footer-brand .footer-input-wrapper{
  display: flex;
  position: relative;
  align-items: center;
  position: relative;
}

.footer-brand .footer-input-wrapper button{
  position: absolute;
  left: 0;
  background-color: #002c38;
  color: #09b28b;
  padding: 1rem 3rem;
}
.footer-brand .footer-input-wrapper input{
  padding: 1rem;
  background-color: #003544;
  color: var(--ghost-white-2);
  outline: none;
}

.footer-text {
  font-size: var(--fs-6);
  line-height: 1.8;
  margin-bottom: 25px;
}

.footer-link-box .enamad-brands{
  display: flex;
  gap: 20px
}
.footer-link-box .enamad-brands img{
  transform: scale(.9);
}

.footer-link-box .enamad-brand-wrapper{
  background-color: var(--ghost-white-1);
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
}

.social-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.social-link {
  color: var(--white-opacity);
  font-size: 25px;
  transition: var(--transition);
}

.social-link:is(:hover, :focus) { color: var(--white); }

.footer-link-box {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-direction: column;
}

.footer-list li:first-child { margin-bottom: 20px; }

.footer-item-title {
  color: var(--white);
  font-family: var(--IRANYekanMedium);
  font-weight: var(--fw-700);
}

.footer-link {
  color: var(--white-opacity);
  font-size: var(--fs-6);
  transition: var(--transition);
  padding-block: 10px;
}

.footer-link:is(:hover, :focus) {
  color: var(--white);
  transform: translateX(5px);
}

.footer-bottom {
  background: #003544;
  padding-block: 20px;
  text-align: center;
}

.copyright a {
  display: inline-block;
  color: #0cdbab;
  transition: var(--transition);
}

.copyright a:is(:hover, :focus) { color: var(--white);cursor: pointer; }






/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 450px screen
 */

 @media (min-width: 450px) {

  /**
   * HERO
   */

  .hero-form { position: relative; }

  .email-field {
    margin-bottom: 0;
    padding-right: 155px;
  }

  .hero .btn-primary {
    position: absolute;
    top: 5px;
    right: 5px;
    padding-block: 12.5px;
  }



  /**
   * ABOUT
   */

  .about-card .card-text {
    max-width: 300px;
    margin-inline: auto;
  }

}





/**
 * responsive for larger than 576px screen
 */

@media (min-width: 576px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 52px;

  }



  /**
   * REUSED STYLE
   */

  .container {
    max-width: 525px;
    margin-inline: auto;
  }

  .section-text {
    max-width: 460px;
    margin-inline: auto;
    margin-bottom: 80px;
  }

}





/**
 * responsive for larger than 768px screen
 */

@media (min-width: 768px) {

  /**
   * REUSED STYLE
   */

  .container { max-width: 720px; }

  .section-text { max-width: 645px; }



  /**
   * HERO
   */

  .hero :is(.hero-text, .form-text, .hero-form) { max-width: 520px; }

  .hero-banner {
    max-width: 600px;
    margin-inline: auto;
  }

  /** 
  * feature
  */

  .features-wrapper .card p{
    padding: 2rem;
  }

  /**
   * ABOUT
   */

  .about-list { grid-template-columns: 1fr 1fr; }

  /**
  * features 
  */

  .features-wrapper
  {
    flex-direction: row;
  }


  /**
  * Courses
  */
  .green-border{
    display: block;
  }


  
.courses-wrapper .js{
  width: 260px;
  height: 340px;
  transform: translate(105px, -30px);
}
.courses-wrapper .c-sharp{
  width: 360px;
  height: 220px;
  transform: translate(50px, 30px);
}
.courses-wrapper .bootstrap{
  width: 225px;
  height: 260px;
  transform: translate(105px, -30px);
}
.courses-wrapper .java{
  width: 280px;
  height: 260px;
  transform: translate(0px, -90px);
}
  

  /**
   * CONTACT
   */


   .contact .contact-wrapper {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 80px;
    align-items: center;
    padding: 0;
  }

  .contact-form { margin-bottom: 0; }

  .contact-form .wrapper-flex {
    display: flex;
    gap: 30px;
  }

  .contact .contact-wrapper .contact-img img{
    width: 100%;
  }
  .wrapper-flex .input-wrapper { width: 70%; }



  /**
   * FOOTER
   */

   .footer-link-box { flex-direction: row;}

}





/**
 * responsive for larger than 992px screen
 */

@media (min-width: 992px) {

  /**
   * REUSED STYLE
   */

  .container { max-width: 950px; }

  .section-text { max-width: 450px; }



  /**
   * HEADER
   */

  .header {
    overflow: visible;
    padding-block: 0;
    height: unset;
  }

  .header.active { height: unset; }

  .menu-toggle-btn { display: none; }

  .navbar {
    position: static;
    visibility: visible;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 0;
  }

  .navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    gap: 40px;
    margin-inline: auto;
  }

  .header-actions {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .navbar-link,
  .header-action-link { padding-block: 25px; }



  /**
   * HERO
   */

  .hero .container {
    display: grid;
    grid-template-columns: 4fr 5fr;
    align-items: center;
    /* gap: 60px; */
  }

  .hero-content { margin-bottom: 0; }

   /**
   * features
   */

  .features-wrapper .card{
    padding: 3rem;
  }


  /**
  *Services
  */
  .services .consultation-img{
    width: 100%;
  }
  .services .degree-img img,
  .services .cooperation-img img{
    width: 60%;
  }

  .services .consultation-wrapper{
    align-items: unset;
  }

  .services .consultation-wrapper .btn-hidden{
    display: none;
  }

  /**
   * ABOUT
   */

  .about .container {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  .about-content {
    margin-bottom: 0;
    width: 40%;
  }

  /* .about-list li:nth-child(odd) { transform: translateY(50px); } */


  /**
  * contact
  */
  .contact .contact-wrapper .contact-img img{
    width: 70%;
  }

  /**
   * FOOTER
   */

  .footer-top .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
  }

  .footer-brand {
    margin-bottom: 0;
  }

  .footer-list { width: 140px; }

}





/**
 * responsive for larger than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * REUSED STYLE
   */

  .container { max-width: 1150px; }


  /**
  * Courses
  */
  .courses-wrapper {
    flex-direction: row;
    align-items: start;
  }


  /**
  * article
  */
  .article .article-wrapper{
    flex-direction: row;
  }


  /**
   * FOOTER
   */

  .footer-link-box { margin-right: 40px; }

  .footer-list { width: 170px; }

}